* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}
body {
  height: 5000px;
}
  .class36_list_li {
    margin-bottom: 10px;
  }

  .tanchiki_li {
    margin-bottom: 10px;
  }